@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans text-text;
}

body {
  font-size: 14px;
}

:root {
  --size-0: 0px;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-44: 44px;
  --size-48: 48px;
  --size-64: 64px;
  --size-80: 80px;
  --size-96: 96px;
  --size-112: 112px;
  --size-128: 128px;
  --size-144: 144px;
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 40px;
  --space-7: 48px;
  --space-8: 64px;
  --space-9: 80px;
  --space-10: 96px;
  --space-11: 112px;
  --space-12: 128px;
  --radii-0: 0px;
  --radii-1: 3px;
  --radii-2: 4px;
  --radii-3: 6px;
  --radii-4: 8px;
  --radii-5: 9999999px;
  --fontFamily-sansSerif: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamily-monospace: "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --fontFamily-heading: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamily-display: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamily-body: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamily-normal: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamily-mono: "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --fontFamilies-sansSerif: "SF Pro", ui-sans-serif, "Segoe UI", system-ui,
    Ubuntu, "Helvetica Neue", sans-serif;
  --fontFamilies-monospace: "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --fontFamilies-title: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamilies-body: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamilies-normal: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontFamilies-mono: "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --fontStack-sansSerif: ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontStack-monospace: ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono",
    monospace;
  --fontStack-title: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontStack-body: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontStack-normal: "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --fontStack-mono: "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --fontWeight-thin: 100;
  --fontWeight-extraLight: 200;
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semiBold: 600;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extraBold: 800;
  --fontWeight-black: 900;
  --fontWeights-extraLight: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 700;
  --fontWeights-extraBold: 700;
  --fontWeights-black: 700;
  --fontSize-0: 10px;
  --fontSize-1: 11px;
  --fontSize-2: 12px;
  --fontSize-3: 14px;
  --fontSize-4: 16px;
  --fontSize-5: 20px;
  --fontSize-6: 24px;
  --fontSize-7: 28px;
  --fontSize-8: 29px;
  --fontSize-9: 32px;
  --fontSize-10: 35px;
  --fontSize-11: 36px;
  --fontSize-12: 48px;
  --fontSize-13: 56px;
  --fontSizes-0: 10px;
  --fontSizes-1: 11px;
  --fontSizes-2: 12px;
  --fontSizes-3: 14px;
  --fontSizes-4: 16px;
  --fontSizes-5: 18px;
  --fontSizes-6: 20px;
  --fontSizes-7: 24px;
  --fontSizes-8: 28px;
  --fontSizes-9: 29px;
  --fontSizes-10: 35px;
  --fontSizes-11: 36px;
  --fontSizes-12: 47px;
  --fontSizes-13: 62px;
  --lineHeight-0: 16px;
  --lineHeight-1: 20px;
  --lineHeight-2: 24px;
  --lineHeight-3: 28px;
  --lineHeight-4: 32px;
  --lineHeight-5: 36px;
  --lineHeight-6: 40px;
  --lineHeight: 1.429;
  --lineHeight-condensed: 1.143;
  --lineHeight-condensedUltra: 1;
  --lineHeight-relaxed: 1.714;
  --lineHeights-0: 16px;
  --lineHeights-1: 20px;
  --lineHeights-2: 24px;
  --lineHeights-3: 28px;
  --lineHeights-4: 32px;
  --lineHeights-5: 36px;
  --lineHeights-6: 40px;
  --lineHeights: 1.429;
  --lineHeights-condensed: 1.143;
  --lineHeights-condensedUltra: 1;
  --lineHeights-relaxed: 1.714;
  --letterSpacing-0: 0px;
  --letterSpacing-1: -0.05px;
  --letterSpacing-2: -0.09px;
  --letterSpacing-3: -0.13px;
  --letterSpacing-4: -0.16px;
  --font-heading-xxsmall: 700 12px/16px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-heading-xsmall: 700 14px/16px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-heading-small: 700 16px/20px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-heading-medium: 700 20px/24px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-heading-large: 700 24px/28px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-heading-xlarge: 700 28px/32px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-heading-xxlarge: 700 29px/36px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-body: 400 14px/20px "SF Pro", ui-sans-serif, "Segoe UI", system-ui,
    Ubuntu, "Helvetica Neue", sans-serif;
  --font-body-small: 400 12px/20px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-body-medium: 400 14px/20px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-body-large: 400 16px/24px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-body-xlarge: 400 20px/28px "SF Pro", ui-sans-serif, "Segoe UI",
    system-ui, Ubuntu, "Helvetica Neue", sans-serif;
  --font-ui: 500 14px "SF Pro", ui-sans-serif, "Segoe UI", system-ui, Ubuntu,
    "Helvetica Neue", sans-serif;
  --font-ui-small: 500 11px "SF Pro", ui-sans-serif, "Segoe UI", system-ui,
    Ubuntu, "Helvetica Neue", sans-serif;
  --font-caption: 400 12px/16px "SF Pro", ui-sans-serif, "Segoe UI", system-ui,
    Ubuntu, "Helvetica Neue", sans-serif;
  --font-code: 400 14px "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --font-code-xsmall: 400 12px "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --font-code-small: 400 14px "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --font-code-medium: 400 16px "SF Mono", ui-monospace, Menlo, "Segoe UI Mono",
    "Ubuntu Mono", monospace;
  --font-display: 500 56px "SF Pro", ui-sans-serif, "Segoe UI", system-ui,
    Ubuntu, "Helvetica Neue", sans-serif;
  --font-display-medium: 500 48px "SF Pro", ui-sans-serif, "Segoe UI", system-ui,
    Ubuntu, "Helvetica Neue", sans-serif;
  --scale-gray-100: #ebecf0;
  --scale-gray-200: #dfe1e6;
  --scale-gray-300: #c1c7d0;
  --scale-gray-400: #8993a4;
  --scale-gray-500: #6b778c;
  --scale-gray-600: #57606a;
  --scale-gray-700: #424a53;
  --scale-gray-800: #32383f;
  --scale-gray-900: #24292f;
  --scale-gray-000: #fafbfc;
  --scale-neutral-100: #f7f8f9;
  --scale-neutral-200: #f1f2f4;
  --scale-neutral-300: #dcdfe4;
  --scale-neutral-400: #b3b9c4;
  --scale-neutral-500: #8590a2;
  --scale-neutral-600: #758195;
  --scale-neutral-700: #626f86;
  --scale-neutral-800: #44546f;
  --scale-neutral-900: #2c3e5d;
  --scale-neutral-1000: #172b4d;
  --scale-neutral-1100: #091e42;
  --scale-neutral-000: #ffffff;
  --scale-neutralAlpha-100: #091e4208;
  --scale-neutralAlpha-200: #091e420f;
  --scale-neutralAlpha-300: #091e4224;
  --scale-neutralAlpha-400: #091e4224;
  --scale-neutralAlpha-500: #091e427d;
  --scale-neutralAlpha-600: #091e428f;
  --scale-neutralAlpha-700: #091e429e;
  --scale-neutralAlpha-800: #091e42ba;
  --scale-neutralAlpha-900: #091e42d6;
  --scale-neutralAlpha-000: #ffffff00;
  --scale-blue-100: #cce0ff;
  --scale-blue-200: #85b8ff;
  --scale-blue-300: #579dff;
  --scale-blue-400: #388bff;
  --scale-blue-500: #1d7afc;
  --scale-blue-600: #0c66e4;
  --scale-blue-700: #0055cc;
  --scale-blue-800: #09326c;
  --scale-blue-900: #1c2b41;
  --scale-blue-000: #e9f2ff;
  --scale-teal-100: #c6edfb;
  --scale-teal-200: #9dd9ee;
  --scale-teal-300: #6cc3e0;
  --scale-teal-400: #42b2d7;
  --scale-teal-500: #2898bd;
  --scale-teal-600: #227d9b;
  --scale-teal-700: #206a83;
  --scale-teal-800: #164555;
  --scale-teal-900: #1e3137;
  --scale-teal-000: #e7f9ff;
  --scale-purple-100: #dfd8fd;
  --scale-purple-200: #b8acf6;
  --scale-purple-300: #9f8fef;
  --scale-purple-400: #8f7ee7;
  --scale-purple-500: #8270db;
  --scale-purple-600: #6e5dc6;
  --scale-purple-700: #5e4db2;
  --scale-purple-800: #352c63;
  --scale-purple-900: #2b273f;
  --scale-purple-000: #f3f0ff;
  --scale-green-100: #baf3db;
  --scale-green-200: #7ee2b8;
  --scale-green-300: #4bce97;
  --scale-green-400: #2abb7f;
  --scale-green-500: #22a06b;
  --scale-green-600: #1f845a;
  --scale-green-700: #216e4e;
  --scale-green-800: #164b35;
  --scale-green-900: #1c3329;
  --scale-green-000: #dcfff1;
  --scale-yellow-100: #f8e6a0;
  --scale-yellow-200: #f5cd47;
  --scale-yellow-300: #e2b203;
  --scale-yellow-400: #cf9f02;
  --scale-yellow-500: #b38600;
  --scale-yellow-600: #946f00;
  --scale-yellow-700: #7f5f01;
  --scale-yellow-800: #533f04;
  --scale-yellow-900: #332e1b;
  --scale-yellow-000: #fff7d6;
  --scale-red-100: #ffd5d2;
  --scale-red-200: #fd9891;
  --scale-red-300: #f87168;
  --scale-red-400: #f15b50;
  --scale-red-500: #e2483d;
  --scale-red-600: #c9372c;
  --scale-red-700: #ae2e24;
  --scale-red-800: #5d1f1a;
  --scale-red-900: #42221f;
  --scale-red-000: #ffeceb;
  --scale-orange-100: #fedec8;
  --scale-orange-200: #fec195;
  --scale-orange-300: #fea362;
  --scale-orange-400: #f38a3f;
  --scale-orange-500: #e56910;
  --scale-orange-600: #c25100;
  --scale-orange-700: #a54800;
  --scale-orange-800: #702e00;
  --scale-orange-900: #38291e;
  --scale-orange-000: #fff3eb;
  --scale-magenta-100: #fdd0ec;
  --scale-magenta-200: #f797d2;
  --scale-magenta-300: #e774bb;
  --scale-magenta-400: #da62ac;
  --scale-magenta-500: #cd519d;
  --scale-magenta-600: #ae4787;
  --scale-magenta-700: #943d73;
  --scale-magenta-800: #50253f;
  --scale-magenta-900: #3d2232;
  --scale-magenta-000: #ffecf8;
  --scale-lime-100: #d3f1a7;
  --scale-lime-200: #b3df72;
  --scale-lime-300: #94c748;
  --scale-lime-400: #82b536;
  --scale-lime-500: #6a9a23;
  --scale-lime-600: #5b7f24;
  --scale-lime-700: #4c6b1f;
  --scale-lime-800: #37471f;
  --scale-lime-900: #28311b;
  --scale-lime-000: #efffd6;
  --surface: #ffffff;
  --surface-hovered: #f1f2f4;
  --surface-pressed: #dcdfe4;
  --surface-sunken: #f7f8f9;
  --surface-raised: #ffffff;
  --surface-raised-hovered: #f7f8f9;
  --surface-raised-pressed: #f1f2f4;
  --surface-overlay: #ffffff;
  --surface-overlay-hovered: #f1f2f4;
  --surface-overlay-pressed: #dcdfe4;
  --shadow-raised: 0px 1px 1px 0px #091e4240, 0px 0px 1px 0px #091e424f;
  --shadow-overflow: 0px 0px 12px 0px #0304048f, 0px 0px 1px 0px #03040480;
  --shadow-overflow-spread: #091e4229;
  --shadow-overflow-perimeter: #091e421f;
  --shadow-overlay: 0px 8px 12px 0px #091e4226, 0px 0px 1px 0px #091e424f;
  --border: #091e4224;
  --border-selected: #1d7afc;
  --border-focused: #388bff;
  --border-subtle: #091e420f;
  --border-input: #091e4224;
  --border-inverse: #ffffff;
  --border-disabled: #091e420f;
  --border-brand: #0c66e4;
  --border-danger: #e2483d;
  --border-warning: #e56910;
  --border-success: #22a06b;
  --border-discovery: #8270db;
  --border-information: #1d7afc;
  --border-accent-blue: #1d7afc;
  --border-accent-red: #e2483d;
  --border-accent-orange: #e56910;
  --border-accent-yellow: #b38600;
  --border-accent-green: #22a06b;
  --border-accent-magenta: #cd519d;
  --border-accent-purple: #8270db;
  --border-accent-teal: #2898bd;
  --border-accent-gray: #8590a2;
  --border-table: #091e4224;
  --background-accent-blue-subtlest: #e9f2ff;
  --background-accent-blue-subtler: #cce0ff;
  --background-accent-blue-subtle: #579dff;
  --background-accent-blue-bolder: #0c66e4;
  --background-accent-red-subtlest: #ffeceb;
  --background-accent-red-subtler: #ffd5d2;
  --background-accent-red-subtle: #f87168;
  --background-accent-red-bolder: #c9372c;
  --background-accent-orange-subtlest: #fff3eb;
  --background-accent-orange-subtler: #fedec8;
  --background-accent-orange-subtle: #fea362;
  --background-accent-orange-bolder: #c25100;
  --background-accent-yellow-subtlest: #fff7d6;
  --background-accent-yellow-subtler: #f8e6a0;
  --background-accent-yellow-subtle: #f5cd47;
  --background-accent-yellow-bolder: #946f00;
  --background-accent-green-subtlest: #dcfff1;
  --background-accent-green-subtler: #baf3db;
  --background-accent-green-subtle: #4bce97;
  --background-accent-green-bolder: #1f845a;
  --background-accent-purple-subtlest: #f3f0ff;
  --background-accent-purple-subtler: #dfd8fd;
  --background-accent-purple-subtle: #9f8fef;
  --background-accent-purple-bolder: #6e5dc6;
  --background-accent-teal-subtlest: #e7f9ff;
  --background-accent-teal-subtler: #c6edfb;
  --background-accent-teal-subtle: #6cc3e0;
  --background-accent-teal-bolder: #227d9b;
  --background-accent-magenta-subtlest: #ffecf8;
  --background-accent-magenta-subtler: #fdd0ec;
  --background-accent-magenta-subtle: #e774bb;
  --background-accent-magenta-bolder: #ae4787;
  --background-accent-lime-subtlest: #efffd6;
  --background-accent-lime-subtler: #d3f1a7;
  --background-accent-lime-subtle: #94c748;
  --background-accent-lime-bolder: #5b7f24;
  --background-accent-gray-subtlest: #f1f2f4;
  --background-accent-gray-subtler: #dcdfe4;
  --background-accent-gray-subtle: #8590a2;
  --background-accent-gray-bolder: #626f86;
  --background-input: #ffffff;
  --background-input-hovered: #f7f8f9;
  --background-input-pressed: #ffffff;
  --background-inverse-subtle: #00000029;
  --background-inverse-subtle-hovered: #0000003d;
  --background-inverse-subtle-pressed: #00000052;
  --background-neutral: #091e420f;
  --background-neutral-hovered: #091e4224;
  --background-neutral-pressed: #091e4224;
  --background-neutral-subtle: #00000000;
  --background-neutral-subtle-hovered: #091e420f;
  --background-neutral-subtle-pressed: #091e4224;
  --background-neutral-bold: #44546f;
  --background-neutral-bold-hovered: #2c3e5d;
  --background-neutral-bold-pressed: #172b4d;
  --background-brand-subtlest: #e9f2ff;
  --background-brand-subtlest-hovered: #cce0ff;
  --background-brand-subtlest-pressed: #85b8ff;
  --background-brand-bold: #0c66e4;
  --background-brand-bold-hovered: #0055cc;
  --background-brand-bold-pressed: #09326c;
  --background-brand-boldest: #1c2b41;
  --background-brand-boldest-hovered: #09326c;
  --background-brand-boldest-pressed: #0055cc;
  --background-selected: #e9f2ff;
  --background-selected-hovered: #cce0ff;
  --background-selected-pressed: #85b8ff;
  --background-selected-bold: #0c66e4;
  --background-selected-bold-hovered: #0055cc;
  --background-selected-bold-pressed: #09326c;
  --background-disabled: #f7f8f9;
  --background-information: #e9f2ff;
  --background-information-hovered: #cce0ff;
  --background-information-pressed: #85b8ff;
  --background-information-bold: #0c66e4;
  --background-information-bold-hovered: #0055cc;
  --background-information-bold-pressed: #09326c;
  --background-danger: #ffeceb;
  --background-danger-hovered: #ffd5d2;
  --background-danger-pressed: #fd9891;
  --background-danger-bold: #c9372c;
  --background-danger-bold-hovered: #ae2e24;
  --background-danger-bold-pressed: #5d1f1a;
  --background-success: #dcfff1;
  --background-success-hovered: #baf3db;
  --background-success-pressed: #7ee2b8;
  --background-success-bold: #1f845a;
  --background-success-bold-hovered: #216e4e;
  --background-success-bold-pressed: #164b35;
  --background-discovery: #f3f0ff;
  --background-discovery-hovered: #dfd8fd;
  --background-discovery-pressed: #b8acf6;
  --background-discovery-bold: #6e5dc6;
  --background-discovery-bold-hovered: #5e4db2;
  --background-discovery-bold-pressed: #352c63;
  --background-warning: #fff7d6;
  --background-warning-hovered: #f8e6a0;
  --background-warning-pressed: #f8e6a0;
  --background-warning-bold: #f5cd47;
  --background-warning-bold-hovered: #e2b203;
  --background-warning-bold-pressed: #cf9f02;
  --blanket: #091e427d;
  --blanket-selected: #388bff14;
  --blanket-danger: #ef5c4814;
  --text: #172b4d;
  --text-subtle: #44546f;
  --text-subtlest: #626f86;
  --text-disabled: #8590a2;
  --text-selected: #0c66e4;
  --text-inverse: #ffffff;
  --text-success: #216e4e;
  --text-danger: #ae2e24;
  --text-information: #0055cc;
  --text-warning: #a54800;
  --text-warning-inverse: #172b4d;
  --text-discovery: #5e4db2;
  --text-brand: #0c66e4;
  --text-accent-blue: #0055cc;
  --text-accent-blue-bolder: #09326c;
  --text-accent-red: #ae2e24;
  --text-accent-red-bolder: #5d1f1a;
  --text-accent-orange: #a54800;
  --text-accent-orange-bolder: #702e00;
  --text-accent-yellow: #7f5f01;
  --text-accent-yellow-bolder: #533f04;
  --text-accent-green: #216e4e;
  --text-accent-green-bolder: #164b35;
  --text-accent-purple: #5e4db2;
  --text-accent-purple-bolder: #352c63;
  --text-accent-teal: #206a83;
  --text-accent-teal-bolder: #164555;
  --text-accent-magenta: #943d73;
  --text-accent-magenta-bolder: #50253f;
  --text-accent-gray: #44546f;
  --text-accent-gray-bolder: #091e42;
  --text-accent-lime: #4c6b1f;
  --text-accent-lime-bolder: #37471f;
  --link: #0c66e4;
  --link-hovered: #0c66e4;
  --link-pressed: #0055cc;
  --link-visited: #5e4db2;
  --icon-accent-blue: #1d7afc;
  --icon-accent-red: #c9372c;
  --icon-accent-orange: #e56910;
  --icon-accent-yellow: #b38600;
  --icon-accent-green: #22a06b;
  --icon-accent-purple: #8270db;
  --icon-accent-teal: #2898bd;
  --icon-accent-magenta: #cd519d;
  --icon-accent-gray: #758195;
  --icon-accent-lime: #6a9a23;
  --icon: #44546f;
  --icon-subtle: #626f86;
  --icon-inverse: #ffffff;
  --icon-disabled: #8590a2;
  --icon-brand: #0c66e4;
  --icon-selected: #0c66e4;
  --icon-danger: #c9372c;
  --icon-success: #22a06b;
  --icon-discovery: #8270db;
  --icon-information: #1d7afc;
  --icon-warning: #e56910;
  --icon-warning-inverse: #172b4d;
  --interaction-hovered: #00000029;
  --interaction-pressed: #00000052;
  --skeleton: #091e420f;
  --skeleton-subtle: #091e4208;
  --chart-brand: #1d7afc;
  --chart-brand-hovered: #0c66e4;
  --chart-neutral: #8590a2;
  --chart-neutral-hovered: #758195;
  --chart-success: #22a06b;
  --chart-success-hovered: #1f845a;
  --chart-success-bold: #216e4e;
  --chart-success-bold-hovered: #164b35;
  --chart-danger: #f15b50;
  --chart-danger-hovered: #e2483d;
  --chart-danger-bold: #ae2e24;
  --chart-danger-bold-hovered: #5d1f1a;
  --chart-warning: #b38600;
  --chart-warning-hovered: #946f00;
  --chart-warning-bold: #7f5f01;
  --chart-warning-bold-hovered: #533f04;
  --chart-information: #1d7afc;
  --chart-information-hovered: #0c66e4;
  --chart-information-bold: #0055cc;
  --chart-information-bold-hovered: #09326c;
  --chart-discovery: #8f7ee7;
  --chart-discovery-hovered: #8270db;
  --chart-discovery-bold: #5e4db2;
  --chart-discovery-bold-hovered: #352c63;
  --chart-categorical-1: #2898bd;
  --chart-categorical-1-hovered: #227d9b;
  --chart-categorical-2: #5e4db2;
  --chart-categorical-2-hovered: #352c63;
  --chart-categorical-3: #e56910;
  --chart-categorical-3-hovered: #c25100;
  --chart-categorical-4: #943d73;
  --chart-categorical-4-hovered: #50253f;
  --chart-categorical-5: #09326c;
  --chart-categorical-5-hovered: #1c2b41;
  --chart-categorical-6: #8f7ee7;
  --chart-categorical-6-hovered: #8270db;
  --chart-categorical-7: #50253f;
  --chart-categorical-7-hovered: #3d2232;
  --chart-categorical-8: #a54800;
  --chart-categorical-8-hovered: #702e00;
  --chart-blue-bold: #388bff;
  --chart-blue-bold-hovered: #388bff;
  --chart-blue-bolder: #1d7afc;
  --chart-blue-bolder-hovered: #0c66e4;
  --chart-blue-boldest: #0055cc;
  --chart-blue-boldest-hovered: #09326c;
  --chart-red-bold: #f15b50;
  --chart-red-bold-hovered: #e2483d;
  --chart-red-bolder: #e2483d;
  --chart-red-bolder-hovered: #c9372c;
  --chart-red-boldest: #ae2e24;
  --chart-red-boldest-hovered: #5d1f1a;
  --chart-orange-bold: #e56910;
  --chart-orange-bold-hovered: #c25100;
  --chart-orange-bolder: #c25100;
  --chart-orange-bolder-hovered: #a54800;
  --chart-orange-boldest: #a54800;
  --chart-orange-boldest-hovered: #702e00;
  --chart-yellow-bold: #b38600;
  --chart-yellow-bold-hovered: #946f00;
  --chart-yellow-bolder: #946f00;
  --chart-yellow-bolder-hovered: #7f5f01;
  --chart-yellow-boldest: #7f5f01;
  --chart-yellow-boldest-hovered: #533f04;
  --chart-green-bold: #22a06b;
  --chart-green-bold-hovered: #1f845a;
  --chart-green-bolder: #1f845a;
  --chart-green-bolder-hovered: #216e4e;
  --chart-green-boldest: #216e4e;
  --chart-green-boldest-hovered: #164b35;
  --chart-teal-bold: #2898bd;
  --chart-teal-bold-hovered: #227d9b;
  --chart-teal-bolder: #227d9b;
  --chart-teal-bolder-hovered: #206a83;
  --chart-teal-boldest: #206a83;
  --chart-teal-boldest-hovered: #164555;
  --chart-purple-bold: #8f7ee7;
  --chart-purple-bold-hovered: #8270db;
  --chart-purple-bolder: #8270db;
  --chart-purple-bolder-hovered: #6e5dc6;
  --chart-purple-boldest: #5e4db2;
  --chart-purple-boldest-hovered: #352c63;
  --chart-magenta-bold: #da62ac;
  --chart-magenta-bold-hovered: #cd519d;
  --chart-magenta-bolder: #cd519d;
  --chart-magenta-bolder-hovered: #ae4787;
  --chart-magenta-boldest: #943d73;
  --chart-magenta-boldest-hovered: #50253f;
  --chart-gray-bold: #8590a2;
  --chart-gray-bold-hovered: #758195;
  --chart-gray-bolder: #758195;
  --chart-gray-bolder-hovered: #626f86;
  --chart-gray-boldest: #44546f;
  --chart-gray-boldest-hovered: #2c3e5d;
  --chart-lime-bold: #6a9a23;
  --chart-lime-bold-hovered: #5b7f24;
  --chart-lime-bolder: #5b7f24;
  --chart-lime-bolder-hovered: #4c6b1f;
  --chart-lime-boldest: #4c6b1f;
  --chart-lime-boldest-hovered: #37471f;
}

.nav__active {
  @apply text-text-brand after:absolute after:-bottom-px after:h-0.5 after:w-full after:bg-background-brand-bold;
}

/*@layer base {*/
/*  :root {*/
/*    --background: 0 0% 100%;*/
/*    --foreground: 222.2 84% 4.9%;*/

/*    --card: 0 0% 100%;*/
/*    --card-foreground: 222.2 84% 4.9%;*/

/*    --popover: 0 0% 100%;*/
/*    --popover-foreground: 222.2 84% 4.9%;*/

/*    --primary: 222.2 47.4% 11.2%;*/
/*    --primary-foreground: 210 40% 98%;*/

/*    --secondary: 210 40% 96.1%;*/
/*    --secondary-foreground: 222.2 47.4% 11.2%;*/

/*    --muted: 210 40% 96.1%;*/
/*    --muted-foreground: 215.4 16.3% 46.9%;*/

/*    --accent: 210 40% 96.1%;*/
/*    --accent-foreground: 222.2 47.4% 11.2%;*/

/*    --destructive: 0 84.2% 60.2%;*/
/*    --destructive-foreground: 210 40% 98%;*/

/*    --border: 214.3 31.8% 91.4%;*/
/*    --input: 214.3 31.8% 91.4%;*/
/*    --ring: 222.2 84% 4.9%;*/

/*    --radius: 0.5rem;*/
/*  }*/

/*  .dark {*/
/*    --background: 222.2 84% 4.9%;*/
/*    --foreground: 210 40% 98%;*/

/*    --card: 222.2 84% 4.9%;*/
/*    --card-foreground: 210 40% 98%;*/

/*    --popover: 222.2 84% 4.9%;*/
/*    --popover-foreground: 210 40% 98%;*/

/*    --primary: 210 40% 98%;*/
/*    --primary-foreground: 222.2 47.4% 11.2%;*/

/*    --secondary: 217.2 32.6% 17.5%;*/
/*    --secondary-foreground: 210 40% 98%;*/

/*    --muted: 217.2 32.6% 17.5%;*/
/*    --muted-foreground: 215 20.2% 65.1%;*/

/*    --accent: 217.2 32.6% 17.5%;*/
/*    --accent-foreground: 210 40% 98%;*/

/*    --destructive: 0 62.8% 30.6%;*/
/*    --destructive-foreground: 210 40% 98%;*/

/*    --border: 217.2 32.6% 17.5%;*/
/*    --input: 217.2 32.6% 17.5%;*/
/*    --ring: 212.7 26.8% 83.9%;*/
/*  }*/
/*}*/

/*@layer base {*/
/*  * {*/
/*    @apply border-border;*/
/*  }*/
/*  body {*/
/*    @apply bg-background text-foreground;*/
/*  }*/
/*}*/
